<hr />
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img
        src="./assets/images/gif.gif"
        alt="Gif"
        style="display: block; margin-left: auto; margin-right: auto"
        height="300px"
      />
    </div>

    <div class="col-lg-6 col-md-6 col-sm">
      <div class="footer">
        <video
          src="./assets/images/video.mp4"
          loop
          autoplay
          muted
          height="300px"
          style="margin-left: auto; margin-right: auto; display: block"
        ></video>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-logo">
          <img src="assets/img/logo.png" alt="" />
        </div>
        <div class="copyright">
          <p>© {{ year }}, All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
